/* :root {
    --brand-color: #212121;
    --brand-second-color: #757575;
    --brand-btn-background: #2196F3;
    --logo-color: #FFFFFF;
    --banner-background: #2F303A;
    --team-background: #F5F4FA;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

} */

/* Селекторы тегов */

/* ul { list-style: none; 
    padding-left: 0; 
}
a { text-decoration-line: none;
}
img { display: block;
    max-width: 100%;
    height: auto; }
h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--brand-color);
    letter-spacing: 0.03em;
} */


 /* ОСНОВНОЙ КОНТЕЙНЕР */
/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */


/* Шрифты для хедера (шапки) */
/* .header { 
    border-bottom: 1px solid #ECECEC;
    background-color: var(--logo-color);
} */
/* .nav, .header-nav-logo, .logo, .header-contacts, .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
} */
/* .logo, .logo-footer, .logo-dark, .logo-ligth {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--brand-btn-background);
}
.logo-ligth { color: var(--logo-color); }
.logo-dark { color: #000000; }
.header-nav__link, .header-contacts__link {
    transition: color var(--transition-duration) var(--transition-timing-function);

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.header-nav .item, .header-contacts .item { 
    margin-right: 50px;  
}
.header-contacts .item:last-child,
.header-nav .item:last-child {
    margin-right: 0;
}
.header-nav .item:last-child {
    margin-left: auto;
}
.header-contacts__link {
    transition: color var(--transition-duration) var(--transition-timing-function);
    
    color: var(--brand-second-color);
}
.header-contacts__icon {
    width: 16px;
    height: 12px;    
    margin-right: 10px;
    fill: currentColor;
}
.header-contacts__icon.tel {
    width: 10px;
    height: 16px;
}
.header-nav__link:hover, .header-nav__link:focus, 
.header-contacts__link:hover, .header-contacts__link:focus,
.footer-contacts-link:hover, .footer-contacts-link:focus
{ color: var(--brand-btn-background); 
}
.item {
    position: relative;
}
.header-nav-link.current::after {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    
    border-radius: 2px;
    color: var(--brand-btn-background);
    background-color: var(--brand-btn-background);

    content: " ";
    display: inline-block;
} */


/* Секция заказ услуги(баннер) */
/* .banner {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--banner-background);

    height: 600px;
    max-width: 1600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Imgban.jpg");
}
.banner-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase; 
    letter-spacing: 0.06em;
    color: var(--logo-color);
}
.banner__button, .form__bnt {
    border-radius: 4px;
    height: 50px;
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--brand-btn-background);
    cursor: pointer;
    color: var(--logo-color); 
}
.banner__button {
    padding: 10px 32px;   
}

/* Модальное окно */
/* 
.backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: visibility var(--transition-duration) var(--transition-timing-function),
        opacity var(--transition-duration) var(--transition-timing-function);
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__btn {
    position: absolute;
    transition: color var(--transition-duration) var(--transition-timing-function);

    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn:hover {
    color: var(--brand-btn-background);
}

.modal__icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-text {
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
}

.form {
    margin-top: 12px;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__field:nth-child(4) {
    margin-bottom: 0;
}

.form__label {
    margin-bottom: 4px;
    text-align: left;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.form__span {
    position: relative;
    color: var(--brand-color);
    border: 0;
}

.form__input {
    width: 100%;
    height: 40px;
    padding: 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: outline var(--transition-duration) var(--transition-timing-function);

}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color var(--transition-duration) var(--transition-timing-function);

    width: 18px;
    height: 18px;
    fill: currentColor;
}

.form__span:focus-within>.form__input,
.form__field:focus-within>.form__comment {
    outline: 1px solid var(--brand-btn-background);
}

.form__span:focus-within>.form__icon {
    color: var(--brand-btn-background);
}

.form__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: outline var(--transition-duration) var(--transition-timing-function);
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
}

.checkbox__icon {
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 8.38px;
    border-radius: 2px;
    border: 1px solid var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkbox__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--brand-second-color);
}

.checkbox__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--brand-btn-background);
}

.checkbox+.checkbox__icon {
    background-color: var(--brand-btn-background);
    border: 1px solid var(--brand-btn-background);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.form__bnt {
    padding: 10px 55px;
    margin-top: 30px;
    cursor: pointer;
} */ */


/* Секция с преимуществом студии */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features {
    display: flex;
}
.features-item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-left: auto;
}
.features-item:last-child{
    margin-right: 0;
}
.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--team-background);
    border-radius: 4px;
}
.benefits__icon {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}
.features__title { 
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; 
}
.features__text {
    text-align: left;
    vertical-align: top;
    color: var(--brand-second-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
} */


/* Чем занимаемся
.section.works {
    padding-top: 0;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.works ul {
    display: flex; 
}
.works-item {
    position: relative;

    margin-right: 30px;
}
.works-item:last-child {
    margin-right: 0;
}
.works__box {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

}
.works__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
} */

/* Наша команда
.section.people {
    background-color: var(--team-background);
}
.team, .clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-title {
    margin-bottom: 10px;

    color: var(--brand-color);
    font-weight: 500;
}
.team-title, .team-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.19; 
}
.team-text { 
    margin-bottom: 16px;
    color: var(--brand-second-color);
}
.team-item {
    margin-right: 30px;
}
.team-item:last-child {
    margin-right: 0;
}
.initials {
    padding: 30px 32px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--logo-color);
}
.social-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
}
.social__item {
    width: 44px;
    height: 44px;
}
.social__link {
    transition: color var(--transition-duration) var(--transition-timing-function), 
    background-color var(--transition-duration) var(--transition-timing-function), 
    border-radius var(--transition-duration) var(--transition-timing-function);

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
}
.social__icon {
    width: 20px;
    height: 20px;
    background-position: center;
    fill: currentColor;
}
.social__link:hover, .social__link:focus,
.social__link.f:hover, .social__link.f:focus { 
    border-radius: 50%;
    background-color: #2196F3;
    color: #FFFFFF; 
} 
 */

/* Постоянные клиенты
.clients-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
}
.clients-item:last-child {
    margin-right: 0;
}
.clients__link {
    transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 3px;
    background-color: #FFFFFF;
}
.clients__icon {
    width: 106px;
    height: 60px; 
    fill: currentColor;
}
.clients__link:hover, .clients__link:focus {
    color: var(--brand-btn-background);
    border-color: 1px solid var(--brand-btn-background);
} */


/* Шрифты для футера(подвала) */
/* .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--banner-background);
}
.footer-address, .footer-contacts-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;   
}
.address {
    margin-top: 20px;
}
.footer-address {
    width: 231px;
    color: var(--logo-color);
    margin-bottom: 9px;
}
.footer-contacts__link {
    transition: color var(--transition-duration) var(--transition-timing-function);


    margin-bottom: 9px;
}
.footer-contacts__link:last-child {
    margin-bottom: 0;
}
.footer-contacts__item {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--logo-color);
}
.container-footer {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.foot-social {
    margin-left: 70px;
}
.social__link.f {
    transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    border-radius var(--transition-duration) var(--transition-timing-function);

    color: var(--logo-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
} */
/* .subscribe {
    width: 570px;
    margin-left: 93px;
    margin-right: auto;
}
.subscribe-text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
.subscribe__input {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--banner-background);
    border: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: outline var(--transition-duration) var(--transition-timing-function);
}
.subscribe__input:focus-within {
    outline: 1px solid var(--team-background);
}
.subscribe__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--logo-color);
    background-color: var(--brand-btn-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;  
}
.subscribe__icon {
    width: 24px;
    height: 24px;
}
.subscribe__btn-span {
    margin-right: 10px;
} */


/* CSS для портфолио
.filtr {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filtr-item{
    margin-right: 8px;
}
.filtr-item:last-child {
    margin-right: 0;
}
.filtr__button {
    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);

    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 6px 22px;
    background-color: var(--team-background);
    border: rgba(0, 0, 0, 0.25);
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    letter-spacing: 0.03em;
    color: var(--brand-color);   
}
.filtr__button:hover, .filtr__button:focus {
    color: var(--logo-color);
    background-color: var(--brand-btn-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
    margin: 0 30px 30px auto;
    background-color: var(--logo-color);
}
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}
.portfolio-item:nth-child(n+7) {
    margin-bottom: 0;
    margin-left: 0;
}
.port-title {
    padding: 20px 24px; 
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
.portfolio__title { 
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color);
}
.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--brand-second-color);
}
.portfolio__link {
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio__link:hover, .portfolio__link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.card {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
}
.card__text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}
.portfolio__link:hover .card,.portfolio__link:focus .portfolio-card {
    transform: translateY(0);
}
 */
