.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features {
    display: flex;
}

.features__item {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-left: auto;

    &:last-child {
        margin-right: 0;
    }

}

.features__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $team-background;
    border-radius: 4px;
}

.features__icon {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

.features__title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features__text {
    text-align: left;
    vertical-align: top;
    color: $brand-second-color;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}