.logo-footer {
    font-family: $font-logo;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: $brand-btn-background;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        display: block;
        text-align: center;
    }
    
    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    }
}

.logo-ligth {
    font-family: $font-logo;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: $brand-btn-background;
    color: $logo-color;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $banner-background;
}

.address {
    margin-top: 20px;
    text-align: left;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        text-align: center;
        margin-bottom: 60px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;   
    }
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: $logo-color;
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
    width: 231px;
    margin-bottom: 9px;
    }
}


.footer-contacts__link {
    transition: color $transition-duration $transition-timing-function;

    margin-bottom: 9px;

    &:hover,
    &:focus {
        color: $brand-btn-background;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.footer-contacts__item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $logo-color;

    @media screen and (min-width: 480px) {
    text-align: center;
    }
}

.tablet {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: baseline;   
    }

}

.container-footer {
    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    }
}

.foot-social {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px) {
    margin-left: 70px;
}
}

.social__link.f {
    transition: color $transition-duration $transition-timing-function,
        background-color $transition-duration $transition-timing-function,
        border-radius $transition-duration $transition-timing-function;

    color: $logo-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    &:hover,
    &:focus {
        border-radius: 50%;
        background-color: $brand-btn-background;
        color: $logo-color;
    }
}

.subscribe {

    @media screen and (min-width: 480px) and (max-width: 1199px) {
    text-align: center;
    display: block;
    margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: 93px;
    margin-right: auto;
    }
}

.subscribe-text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $logo-color;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        text-align: center;
    }
}

.subscribe-form {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.subscribe__input {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: $banner-background;
    border: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: outline $transition-duration $transition-timing-function;

    &:focus-within {
        outline: 1px solid $team-background;
    }

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        width: 100%;
    }
}

.subscribe__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $logo-color;
    background-color: $brand-btn-background;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: $brand-btn-background;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.subscribe__icon {
    width: 24px;
    height: 24px;
}

.subscribe__btn-span {
    margin-right: 10px;
}





