.header {
        position: relative;
        border-bottom: 1px solid #ECECEC;
        background-color: $logo-color;     
}

.header__container {
    @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    }  
}

.header-nav-logo {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
    justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }

    
}

.header-contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: block; 

        margin-left: auto;
    }

    @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

.site-nav {
    display: none;

    @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  
    }
}

.logo {
    font-family: $font-logo;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: $brand-btn-background;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 16px;
    padding-bottom: 16px;
 
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__dark {
    font-family: $font-logo;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: $brand-btn-background;
    color: #000000;
    
    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    }
}

.site-nav__link {
    @media screen and (min-width:768px) {
    transition: color $transition-duration $transition-timing-function;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $brand-color;

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
        
    
    }

    &:hover,
    &:focus {
    color: $brand-btn-background;
    }
}

.site-nav__item {
    @media screen and (min-width: 768px) {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.site-nav .site-nav__item:last-child {
    @media screen and (min-width:1200px) {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: auto;
    }
}

.header-contacts .header-contacts__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.header-contacts__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: 1.17;

    color: $brand-second-color;
    transition: color $transition-duration $transition-timing-function;

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-size: 14px;
    line-height: 1.14;
    }

    &:hover,
    &:focus {
        color: $brand-btn-background;
    }
}

.header-contacts__icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;

    @media screen and (min-width:1200px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    }

    &.tel {
        width: 10px;
        height: 14px;
        
       @media screen and (min-width: 768px) {
        width: 10px;
        height: 16px;
        }
    }
}

.site-nav__item, .header-contacts__item {
    @media screen and (min-width:1200px) {
    position: relative;
    }
}

.site-nav__link--current::after {
    @media screen and (min-width:1200px) {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;

    border-radius: 2px;
    color: $brand-btn-background;
    background-color: $brand-btn-background;

    content: " ";
    display: inline-block;
    }
}

















