/* Чем занимаемся */


.section--padding {
    padding-top: 0;
}

.section__title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.works {
    display: flex;
}

.works__item {
    position: relative;

    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.works__box {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

}

.works__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $logo-color;
}




