
$brand-color: #212121;
$brand-second-color: #757575;
$brand-btn-background: #2196F3;
$logo-color: #FFFFFF;
$banner-background: #2F303A;
$team-background: #F5F4FA;
$border-color: #AFB1B8;

$font-brand: 'Roboto', sans-serif;
$font-logo: 'Raleway';

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);









